body{
    font-family: 'Varela Round' sans-serif;
    /*background-color: #000000;*/
    /*background-image: url(../img/grey_wash_wall.png);*/
    background-image: url(../img/subtle_grunge.png);

}
.resumeBlocks{
    background-color: #ffffff;
    border: black solid 1px  ;
    border-radius: 10px;
    margin: 10px 0px;
}
.resumeTopic{
    text-align: center;
    padding: 10px;

}
.resumeBody{
    text-align: left;
    padding: 10px;
    padding-right: 15px;
    text-justify: kashida;
}
.resumeCategory{
    text-align: center;
    background-color: #ffffff;
    border: black solid 1px  ;
    border-radius: 50px;
    vertical-align: 50%;

}
ul{
    /*list-style-type: none;*/
}
.resumeBlocks:hover{
    -webkit-transition: .5s ease;
    transition: .8s ease;
    box-shadow: 0 0 20px #000000;
}
.delay-1 {
  -moz-animation-delay: 1s;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.delay-2 {
  -moz-animation-delay: 2s;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

.moreInfo{
    /*display: none;*/
    padding: 10px;
}
.knowMe{
    background-color: #000000;
    border-radius: 10px;
    font-size: 33px;
        /*font-family: Satisfy, cursive;*/
    color: #ffffff;



}
.knowMe:hover{
    -webkit-transition: .5s ease;
    transition: .8s ease;
    box-shadow: 0 0 10px #000000;
}
.greeting h1{
    letter-spacing: 2px;
    text-shadow: -4px 6px 6px rgba(150, 150, 150, 1);

    margin: 50px;
    font-size: 45px;
        /*font-family: Satisfy, cursive;*/

}
.name h1{
    margin: 40px;
    font-size: 60px;
        text-shadow: -4px 6px 6px rgba(150, 150, 150, 1);
    /*font-family: Satisfy, cursive;*/

}
.details h3{
    margin: 30px;
        /*font-family: Satisfy, cursive;*/

}
.welcome h3 {
    font-size: 35px;

        /*font-family: Satisfy, cursive;*/

}
.navbar-brand{
    /*background-color: #000000;*/
    text-align: center;
}
a {
    color: #000000;
    text-decoration: none;
}

a:hover
{
     color:#00A0C6;
     text-decoration:none;
     cursor:pointer;
}
.landing{

}
p{
    text-align: left;
}
.resumeProjects{
    text-align: center;
}
.about{
    text-align: center;
}
.about p{
    text-align: center;
}