body{
    font-family: 'Varela Round' sans-serif;
    /*background-color: #000000;*/
    /*background-image: url(../img/grey_wash_wall.png);*/
    background-image: url(../img/subtle_grunge.png);

}
.resumeBlocks{
    background-color: #ffffff;
    border: black solid 1px  ;
    border-radius: 10px;
    margin: 10px 0px;
}
.resumeTopic{
    text-align: center;
    padding: 10px;

}
.resumeBody{
    text-align: left;
    padding: 10px;
    padding-right: 15px;
    text-justify: kashida;
}
.resumeCategory{
    text-align: center;
    background-color: #ffffff;
    border: black solid 1px  ;
    border-radius: 50px;
    vertical-align: 50%;

}
ul{
    /*list-style-type: none;*/
}
.resumeBlocks:hover{
    -webkit-transition: .5s ease;
    transition: .8s ease;
    box-shadow: 0 0 20px #000000;
}
.delay-1 {
  -moz-animation-delay: 1s;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.delay-2 {
  -moz-animation-delay: 2s;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

.moreInfo{
    /*display: none;*/
    padding: 10px;
}
.knowMe{
    background-color: #000000;
    border-radius: 10px;
    font-size: 33px;
        /*font-family: Satisfy, cursive;*/
    color: #ffffff;



}
.knowMe:hover{
    -webkit-transition: .5s ease;
    transition: .8s ease;
    box-shadow: 0 0 10px #000000;
}
.greeting h1{
    letter-spacing: 2px;
    text-shadow: -4px 6px 6px rgba(150, 150, 150, 1);

    margin: 50px;
    font-size: 45px;
        /*font-family: Satisfy, cursive;*/

}
.name h1{
    margin: 40px;
    font-size: 60px;
        text-shadow: -4px 6px 6px rgba(150, 150, 150, 1);
    /*font-family: Satisfy, cursive;*/

}
.details h3{
    margin: 30px;
        /*font-family: Satisfy, cursive;*/

}
.welcome h3 {
    font-size: 35px;

        /*font-family: Satisfy, cursive;*/

}
.navbar-brand{
    /*background-color: #000000;*/
    text-align: center;
}
a {
    color: #000000;
    text-decoration: none;
}

a:hover
{
     color:#00A0C6;
     text-decoration:none;
     cursor:pointer;
}
.landing{

}
p{
    text-align: left;
}
.resumeProjects{
    text-align: center;
}
.about{
    text-align: center;
}
.about p{
    text-align: center;
}
/* -------------------------------------
 * For horizontal version, set the
 * $vertical variable to false
 * ------------------------------------- */
/* -------------------------------------
 * General Style
 * ------------------------------------- */
@import url(http://fonts.googleapis.com/css?family=Noto+Sans);
body {
  /*max-width: 1200px;*/
  /*margin: 0 auto;*/
  /*padding: 0 5%;*/
  /*font-size: 100%;*/
  font-family: "Noto Sans", sans-serif;
  color: #000000;
    /*text-align: center;*/
  /*background: #48b379;*/
}
.title{
    text-align: center;
}
h2 {
  margin: 3em 0 0 0;
  font-size: 1.5em;
  letter-spacing: 2px;
  text-transform: uppercase;
}

/* -------------------------------------
 * timeline
 * ------------------------------------- */
#timeline {
  list-style: none;
  margin: 50px 0 30px 120px;
  padding-left: 30px;
  border-left: 8px solid #000000;
}
#timeline li {
  margin: 40px 0;
  position: relative;
}
#timeline p {
  margin: 0 0 15px;
}

.date {
  margin-top: -10px;
  top: 50%;
  left: -158px;
  font-size: 0.95em;
  line-height: 20px;
  position: absolute;
}

.circle {
  margin-top: -10px;
  top: 50%;
  left: -44px;
  width: 10px;
  height: 10px;
  background: #00c4e8;
  border: 5px solid #00c4e8;
  border-radius: 50%;
  display: block;
  position: absolute;
}

.content {
  max-height: 20px;
  padding: 50px 20px 0;
  border-color: transparent;
  border-width: 2px;
  border-style: solid;
  border-radius: 0.5em;
  position: relative;
}
.content:before, .content:after {
  content: "";
  width: 0;
  height: 0;
  border: solid transparent;
  position: absolute;
  pointer-events: none;
  right: 100%;
}
.content:before {
  border-right-color: inherit;
  border-width: 20px;
  top: 50%;
  margin-top: -20px;
}
.content:after {
  border-right-color: #00c4e8;
  border-width: 17px;
  top: 50%;
  margin-top: -17px;
}
.content p {
  max-height: 0;
  color: transparent;
  text-align: justify;
  /*word-break: break-word;*/
  hyphens: auto;
  overflow: hidden;
}

label {
  font-size: 1.3em;
  position: absolute;
  z-index: 100;
  cursor: pointer;
  top: 20px;
  transition: transform 0.2s linear;
}

.radio {
  display: none;
}

.radio:checked + .relative label {
  cursor: auto;
  transform: translateX(42px);
}
.radio:checked + .relative .circle {
  background: #000000;
}
.radio:checked ~ .content {
  max-height: 220px;
  border-color: #00c4e8;
  margin-right: 20px;
  transform: translateX(20px);
  transition: max-height 0.4s linear, border-color 0.5s linear, transform 0.2s linear;
}
.radio:checked ~ .content p {
  max-height: 200px;
  color: #000000;
  transition: color 0.3s linear 0.3s;
}

/* -------------------------------------
 * mobile phones (vertical version only)
 * ------------------------------------- */
@media screen and (max-width: 767px) {
  #timeline {
    margin-left: 0;
    padding-left: 0;
    border-left: none;
  }
  #timeline li {
    margin: 50px 0;
  }

  label {
    width: 85%;
    font-size: 1.1em;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    transform: translateX(18px);
  }

  .content {
    padding-top: 45px;
    border-color: #eee9dc;
  }
  .content:before, .content:after {
    border: solid transparent;
    bottom: 100%;
  }
  .content:before {
    border-bottom-color: inherit;
    border-width: 17px;
    top: -16px;
    left: 50px;
    margin-left: -17px;
  }
  .content:after {
    border-bottom-color: #48b379;
    border-width: 20px;
    top: -20px;
    left: 50px;
    margin-left: -20px;
  }
  .content p {
    font-size: 0.9em;
    line-height: 1.4;
  }

  .circle, .date {
    display: none;
  }
}
