<!DOCTYPE html>
{% extends "base.html" %}
<body>


{% block main %}
    <h2 class="title"> My Story</h2>
    <p class="title">
        This is my portal to express my views, help others, and show off some of my projects. This site will include
        book reviews, ways I overcame challenges, and entrepreneurial thoughts and resources. I am currently a senior at
        Saint Mary’s College of California majoring in honors finance. My two biggest passions are technology and
        economics. I spend the majority of my time programming and continuously reading and learning. Feel free to
        email, tweet or connect with me. I hope you enjoy your visit!
    </p>
    <h2 class="title">Personal Story Timeline</h2>
    <p class="title">
        I have a variety of interests and look forward to a life full of learning. I am happy to finally reach out and tell my own
        story.</p>
    <ul id='timeline'>
        <li class='work'>
            <input class='radio' id='work5' name='works' type='radio' checked>

            <div class="relative">
                <label for='work5'>Web Development Bootcamp at RocketSpace</label>
                <span class='date'>August 2014</span>
                <span class='circle'></span>
            </div>
            <div class='content'>
                <p>
                    This has been one of the best decisions of my life. I spent the entire summer learning programming
                    during a 12 week bootcamp. I learned Javascript, Python, Django and got hooked really fast. In fact,
                    I now spend most of my time working on side projects while taking classes for my senior year.
                </p>
            </div>
        </li>
        <li class='work'>
            <input class='radio' id='work4' name='works' type='radio'>

            <div class="relative">
                <label for='work4'>Won Saint Mary's Idea Competition</label>
                <span class='date'>March 4th 2014</span>
                <span class='circle'></span>
            </div>
            <div class='content'>
                <p>
                    I entered this competition after seeing my mom become a victim of price discrepancies in the healthcare system.
                    I came up with an idea in less than a week and put together a SWOT analysis. After making the finals
                    at the business competition, I found my idea too broad and pivoted to a system to cure access
                    capacity using dynamic pricing. This was the first major award I ever won. I learned an incredible
                    amount in a short time because of it.
                </p>
            </div>
        </li>
        <li class='work'>
            <input class='radio' id='work3' name='works' type='radio'>

            <div class="relative">
                <label for='work3'>Transferred to Saint Mary's</label>
                <span class='date'>September 2013  </span>
                <span class='circle'></span>
            </div>
            <div class='content'>
                <p>
                    After working two jobs for long enough, I decided it was time to finish my degree. I picked Saint
                    Mary's because I thought I could stand out, it was a liberal arts college that requires critical thinking, and I could build great
                    relationships with my professors. I love having deep discussions about finance, economics, and great literature in the
                    Seminar program. Saint Mary's is wonderful institution which allowed me to stay in the Bay Area.
                </p>
            </div>
        </li>
        {#  <li class='work'>#}
        {#    <input class='radio' id='work2' name='works' type='radio'>#}
        {#    <div class="relative">#}
        {#      <label for='work2'>Lorem ipsum dolor sit amet</label>#}
        {#      <span class='date'>09 May 2013</span>#}
        {#      <span class='circle'></span>#}
        {#    </div>#}
        {#    <div class='content'>#}
        {#      <p>#}
        {#        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio ea necessitatibus quo velit natus cupiditate qui alias possimus ab praesentium nostrum quidem obcaecati nesciunt! Molestiae officiis voluptate excepturi rem veritatis eum aliquam qui laborum non ipsam ullam tempore reprehenderit illum eligendi cumque mollitia temporibus! Natus dicta qui est optio rerum.#}
        {#      </p>#}
        {#    </div>#}
        {#  </li>#}
        {#  <li class='work'>#}
        {#    <input class='radio' id='work1' name='works' type='radio'>#}
        {#    <div class="relative">#}
        {#      <label for='work1'>Lorem ipsum dolor sit amet</label>#}
        {#      <span class='date'>08 May 2013</span>#}
        {#      <span class='circle'></span>#}
        {#    </div>#}
        {#    <div class='content'>#}
        {#      <p>#}
        {#        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio ea necessitatibus quo velit natus cupiditate qui alias possimus ab praesentium nostrum quidem obcaecati nesciunt! Molestiae officiis voluptate excepturi rem veritatis eum aliquam qui laborum non ipsam ullam tempore reprehenderit illum eligendi cumque mollitia temporibus! Natus dicta qui est optio rerum.#}
        {#      </p>#}
        {#    </div>#}
        {#  </li>#}
    </ul>
{% endblock %}
</body>