{% extends 'base2.html' %}
{% load staticfiles %}
{% load pages_tags mezzanine_tags i18n future staticfiles %}

{% block extra_head %}
    <script src="{% static "js/bootstrap.js" %}"></script>
    <script src="{% static "js/jquery-1.11.1.min.js" %}"></script>


{% endblock %}
{% block main %}
    <div class="col-md-12">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">


                    <div class="aboutTopic">
                        <h1 class="about">Sample Projects</h1>
                    </div>
                </div>
                <div class="about">

                    <div class="col-md-6 col-md-offset-3">
                        <div class="aboutTopic">
                            <a target="_blank" href="http://wealthconcierge.herokuapp.com">Wealth Concierge</a>
                        </div>

                        <a target="_blank" href="http://wealthconcierge.herokuapp.com/"><img class="image img-responsive" alt="Responsive image"
                                                                                             src="{% static 'img/wealthy.png' %}"
                                                                                             width="500"
                                                                                             height="350"></a>


                        <div class="projectText">
                            <p class="projectDisc">You can either take a Demo or log in to see the full features. Wealth Concierge recommends portfolios based on a proprietary algorithm that finds your risk profile and takes into account factors such as income, housing costs, and age. Find your portfolio today!</p>

                            <h4><a target="_blank" href="https://github.com/travis6888/wealthy">Github</a></h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-md-offset-3">
                    <div class="about">

                        <div class="aboutTopic">

                            <a target="_blank" href="http://bookitquick.herokuapp.com">BookIt</a>
                        </div>
                        <a target="_blank" href="http://bookitquick.herokuapp.com"><img class="image img-responsive" alt="Responsive image"
                                                                                        src="{% static 'img/bookit.png' %}"
                                                                                        width="500"
                                                                                        height="350"></a>


                        <div class="projectText">

                            <p class="projectDisc"> Trying to plan events can be time consuming. BookIt helps you
                                find
                                events that fit
                                your schedule. BookIt is synced with Google Calendar and searches for events via
                                meetup,
                                eventbrite, and
                                more to get events based on the hours you are free and the activities you choose!
                                Invite
                                your friends
                                and family to find events that work for both of your schedules too!</p>
                            <h4><a target="_blank" href="https://github.com/travis6888/bookit">Github</a></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>

{% endblock %}

{#{% block right_panel %}#}
{#    {% ifinstalled mezzanine.twitter %}#}
{#        {% include "twitter/tweets.html" %}#}
{#    {% endifinstalled %}#}
{#{% endblock %}#}